@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  * {
    font-family: 'KalesiRoundedDemo';
    letter-spacing: 3px; 
      }
} */

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }   
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 25s linear infinite;
  /* efek halus & elegan */
  background: linear-gradient(90deg, #e6f7ff, #b3ecff, #e6f7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.2);
}